@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700&family=Great+Vibes&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  html{
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
  }
  body{
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
  
    @apply
    w-0
    h-1.5
   
  }
  
  ::-webkit-scrollbar-thumb {
    @apply 
    h-20
    bg-gradient-to-r from-cyan-500 to-blue-500
    rounded-lg
  }
  
  ::-webkit-scrollbar-track {
    @apply
    bg-transparent
    
  }
}
@layer components{
  .timeline{
    @apply
      relative
      border-l-4 border-gray-500
      py-8
  }
  .dot{
    @apply
      absolute top-6 -left-3.5
      bg-black
      h-6 w-6
      rounded-full
      border-4 border-gray-500
      
  }
  .timeline-date{
    @apply 
    text-base text-white font-bold 
    opacity-40 tracking-widest
  }
  .timeline-title{
    @apply 
     text-2xl sm:text-3xl text-gray-200 font-semibold
     tracking-wide my-2

  }
  .timeline-subtitle{
    @apply 
    text-xl text-gray-400 font-semibold
    tracking-wide mb-2
  }
  .timeline-content{
    @apply 
    text-base text-gray-100 font-light
    tracking-wide mb-2
  }
}